body {
    background: #000 url(../img/bg.png) no-repeat center;
    margin: 0 auto;
    text-align: center;
}
.hide {
    display: none;
}
#avatar {
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
    overflow: hidden;
}
#avatar img {
    width: 100%;
}

#avatar_template {
    position: absolute;
    top: 0;
    right: 0;
}